.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /*background-color:red;*/
    height: 100vh;

}
img{
    width:300px;
    
}
input{
    width: 400px;
    margin-top:20px;
    line-height:20px;
    border-radius: 30px;
}

button{
    margin-top: 10px;
    /*padding-top: 10px;*/
    padding: 8px,16px;
    /*padding-left: 20px;
    padding-right: 20px;*/
    border:none;
}